div{
  box-sizing: border-box;
}
div.outer_container{
  display: grid;
  grid-template-columns:1fr 1fr;
}
textarea.edit_area {
  font-size: 1rem;
  box-sizing: border-box;
  padding-left: 1rem;
  width: 50vw;
  height: 100vh;
  border: 1px solid black;
  border-right: none;
  resize: none;
}
#preview{
  padding: 0.5rem 1rem;
  display: inline-block;
  width: 50vw;
  height: 100vh;
  border: 1px solid black;
}